body {
  color: #444951;
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
}

h1 {
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0;
}

h1 + p {
  color: #5aa3ea;
  margin: 0.2em 0;
}

p {
  max-width: 560px;
  color: #7d878a;
}
